/*Debugging*/
/** /
* {
    border: 1px solid red;
}



/*Themeing*/
/**/
header {
    background: #303030;
}
/**//**/
header:first-child {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

}
/**//**/
h1 {
    margin: auto 40px;
    text-transform: capitalize;
}
/**//**/
nav {
    background: #202020;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px 40px;
    padding: 20px 25px;
}

.title {
    display: flex;
    flex-direction: column;
}

nav a {
    font-size: 10;
    text-transform: uppercase;
    margin: 10px;
}
/**//** /
.navigation {
    justify-content: space-around;
}
/**//**/
#finePrint {
    flex-direction: column;
}
/**//**/
main {
    display: flex;
    flex-flow: nowrap row;
}

/**//**/
main img {
    width: 630px;
    height: 300px;
    margin: 10px 20px 20px 20px;
    float: right;
    order: 1;
}

/**//**/
section {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
}
/**//**/
article {
    max-width: 300px;
    max-height: 200px;
}
/**//**/
article img {
    width: 80px;
    height: 80px;
    margin: 10px 20px 20px 00px;
    float: left;
}
/**/
