/** /
* {
    border: 1px solid #ff0000;
}
/**/

/**/
body {
    background: #181620;
    color: #ccffcc;
}
/**/

/**/
img {
    margin: 30px auto;
    width: 100px;
    height: 100px;
}
/**/

/**/
article {
    display: flex;
    justify-content: space-around;
}
/**/
